In [4]:
import pandas as pd

In [2]:
import numpy as np

In [3]:
from sklearn.preprocessing import LabelEncoder
#yeni kütüphane ekledikten sonra çalıştırmayı unuymayın

In [5]:
#veri setini ekleyelim 
df=pd.read_csv("houses_Madrid.csv")
#veri setinin ilk 10 satırını gösterelim
df.head(10)

,Unnamed: 0,id,title,subtitle,sq_mt_built,sq_mt_useful,n_rooms,n_bathrooms,n_floors,sq_mt_allotment,...,energy_certificate,has_parking,has_private_parking,has_public_parking,is_parking_included_in_price,parking_price,is_orientation_north,is_orientation_west,is_orientation_south,is_orientation_east
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,60.0,2,1.0,NaN,NaN,...,D,False,NaN,NaN,NaN,NaN,False,True,False,False
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,NaN,3,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,54.0,2,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,False,True,False
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,90.0,2,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,True,True,True,True
5,5,21737,Piso en venta en geologia,"San Andrés, Madrid",126.0,114.0,4,2.0,NaN,NaN,...,en trámite,True,NaN,NaN,True,0.0,False,False,False,True
6,6,21736,Piso en venta en avenida Real de Pinto,"San Andrés, Madrid",120.0,100.0,5,2.0,NaN,NaN,...,F,True,NaN,NaN,True,0.0,False,False,True,False
7,7,21735,Piso en venta en San Andrés,"Villaverde, Madrid",125.0,100.0,3,2.0,NaN,NaN,...,no indicado,False,NaN,NaN,NaN,NaN,False,False,True,False
8,8,21734,Piso en venta en Butarque,"Villaverde, Madrid",84.0,70.0,3,2.0,NaN,NaN,...,F,True,NaN,NaN,True,0.0,NaN,NaN,NaN,NaN
9,9,21733,Piso en venta en calle de Martinez Oviol,"Los Rosales, Madrid",85.0,NaN,2,1.0,NaN,NaN,...,en trámite,False,NaN,NaN,NaN,NaN,False,True,False,False

In [6]:
df.shape

(21742, 58)

In [7]:
df.size

1261036

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 58 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   sq_mt_useful                  8228 non-null   float64
 6   n_rooms                       21742 non-null  int64
 7   n_bathrooms                   21726 non-null  float64
 8   n_floors                      1437 non-null   float64
 9   sq_mt_allotment               1432 non-null   float64
 10  latitude                      0 non-null      float64
 11  longitude                     0 non-null      float64
 12  raw_address                   16277 non-null  object
 13  is_exact_address_hidden       21742 non-null  bool
 14  street_name                   15837 non-null  object
 15  street_number                 6300 non-null   object
 16  portal                        0 non-null      float64
 17  floor                         19135 non-null  object
 18  is_floor_under                20572 non-null  object
 19  door                          0 non-null      float64
 20  neighborhood_id               21742 non-null  object
 21  operation                     21742 non-null  object
 22  rent_price                    21742 non-null  int64
 23  rent_price_by_area            0 non-null      float64
 24  is_rent_price_known           21742 non-null  bool
 25  buy_price                     21742 non-null  int64
 26  buy_price_by_area             21742 non-null  int64
 27  is_buy_price_known            21742 non-null  bool
 28  house_type_id                 21351 non-null  object
 29  is_renewal_needed             21742 non-null  bool
 30  is_new_development            20750 non-null  object
 31  built_year                    10000 non-null  float64
 32  has_central_heating           13608 non-null  object
 33  has_individual_heating        13608 non-null  object
 34  are_pets_allowed              0 non-null      float64
 35  has_ac                        11211 non-null  object
 36  has_fitted_wardrobes          13399 non-null  object
 37  has_lift                      19356 non-null  object
 38  is_exterior                   18699 non-null  object
 39  has_garden                    1556 non-null   object
 40  has_pool                      5171 non-null   object
 41  has_terrace                   9548 non-null   object
 42  has_balcony                   3321 non-null   object
 43  has_storage_room              7698 non-null   object
 44  is_furnished                  0 non-null      float64
 45  is_kitchen_equipped           0 non-null      float64
 46  is_accessible                 4074 non-null   object
 47  has_green_zones               4057 non-null   object
 48  energy_certificate            21742 non-null  object
 49  has_parking                   21742 non-null  bool
 50  has_private_parking           0 non-null      float64
 51  has_public_parking            0 non-null      float64
 52  is_parking_included_in_price  7719 non-null   object
 53  parking_price                 7719 non-null   float64
 54  is_orientation_north          11358 non-null  object
 55  is_orientation_west           11358 non-null  object
 56  is_orientation_south          11358 non-null  object
 57  is_orientation_east           11358 non-null  object
dtypes: bool(5), float64(17), int64(6), object(30)
memory usage: 8.9+ MB

In [9]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
Unnamed: 0,21742.0,10870.500000,6276.519112,0.0,5435.25,10870.5,16305.75,21741.0
id,21742.0,10871.500000,6276.519112,1.0,5436.25,10871.5,16306.75,21742.0
sq_mt_built,21616.0,146.920892,134.181865,13.0,70.00,100.0,162.00,999.0
sq_mt_useful,8228.0,103.458192,88.259192,1.0,59.00,79.0,113.00,998.0
n_rooms,21742.0,3.005749,1.510497,0.0,2.00,3.0,4.00,24.0
n_bathrooms,21726.0,2.091687,1.406992,1.0,1.00,2.0,2.00,16.0
n_floors,1437.0,3.128740,0.907713,1.0,2.00,3.0,4.00,7.0
sq_mt_allotment,1432.0,241.692737,247.484853,1.0,2.00,232.0,354.00,997.0
latitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
longitude,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
portal,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
door,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
rent_price,21742.0,-59170.307929,917116.183176,-34590276.0,725.00,1116.0,1687.00,2517.0
rent_price_by_area,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
buy_price,21742.0,653735.647503,782082.069836,36000.0,198000.00,375000.0,763600.00,8800000.0
buy_price_by_area,21742.0,4020.523871,1908.418774,447.0,2551.00,3720.0,5000.00,18889.0
built_year,10000.0,1970.046400,69.386705,1723.0,1957.00,1970.0,1994.00,8170.0
are_pets_allowed,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_furnished,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
is_kitchen_equipped,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_private_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
has_public_parking,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
parking_price,7719.0,2658.000518,13360.966258,0.0,0.00,0.0,0.00,600000.0

In [10]:
df.isnull().sum()

Unnamed: 0                          0
id                                  0
title                               0
subtitle                            0
sq_mt_built                       126
sq_mt_useful                    13514
n_rooms                             0
n_bathrooms                        16
n_floors                        20305
sq_mt_allotment                 20310
latitude                        21742
longitude                       21742
raw_address                      5465
is_exact_address_hidden             0
street_name                      5905
street_number                   15442
portal                          21742
floor                            2607
is_floor_under                   1170
door                            21742
neighborhood_id                     0
operation                           0
rent_price                          0
rent_price_by_area              21742
is_rent_price_known                 0
buy_price                           0
buy_price_by_area                   0
is_buy_price_known                  0
house_type_id                     391
is_renewal_needed                   0
is_new_development                992
built_year                      11742
has_central_heating              8134
has_individual_heating           8134
are_pets_allowed                21742
has_ac                          10531
has_fitted_wardrobes             8343
has_lift                         2386
is_exterior                      3043
has_garden                      20186
has_pool                        16571
has_terrace                     12194
has_balcony                     18421
has_storage_room                14044
is_furnished                    21742
is_kitchen_equipped             21742
is_accessible                   17668
has_green_zones                 17685
energy_certificate                  0
has_parking                         0
has_private_parking             21742
has_public_parking              21742
is_parking_included_in_price    14023
parking_price                   14023
is_orientation_north            10384
is_orientation_west             10384
is_orientation_south            10384
is_orientation_east             10384
dtype: int64

In [12]:
df["rent_price_by_area"].info()

<class 'pandas.core.series.Series'>
RangeIndex: 21742 entries, 0 to 21741
Series name: rent_price_by_area
Non-Null Count  Dtype
--------------  -----
0 non-null      float64
dtypes: float64(1)
memory usage: 170.0 KB

In [13]:
#boş değer sayısı fazla olan sütunları veri setinden kaldıralım.
#df= dememizin sebei drop ile kaldırılan sütunların veri setinden kalıcı olarak silinmesi içindir. Bunun yerine inplace=True da kullanılabilirdi.

df=df.drop(columns=["sq_mt_useful","n_floors","sq_mt_allotment","latitude","longitude","raw_address","street_number","portal","door","rent_price_by_area","is_orientation_north","is_orientation_west","is_orientation_south","is_orientation_east","are_pets_allowed","is_furnished","is_kitchen_equipped","has_public_parking","has_private_parking","parking_price"])
#bu satırı bir kez çalıştırdığınızda sütunlar kalıcı olarak kaldırılacağı için tekrar çalıştırıldığında sütunları bulamadığı için hata verecektir.
df

,Unnamed: 0,id,title,subtitle,sq_mt_built,n_rooms,n_bathrooms,is_exact_address_hidden,street_name,floor,...,has_garden,has_pool,has_terrace,has_balcony,has_storage_room,is_accessible,has_green_zones,energy_certificate,has_parking,is_parking_included_in_price
0,0,21742,"Piso en venta en calle de Godella, 64","San Cristóbal, Madrid",64.0,2,1.0,False,Calle de Godella,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,D,False,NaN
1,1,21741,Piso en venta en calle de la del Manojo de Rosas,"Los Ángeles, Madrid",70.0,3,1.0,True,Calle de la del Manojo de Rosas,4,...,NaN,NaN,True,NaN,NaN,NaN,NaN,en trámite,False,NaN
2,2,21740,"Piso en venta en calle del Talco, 68","San Andrés, Madrid",94.0,2,2.0,False,Calle del Talco,1,...,NaN,NaN,NaN,NaN,True,NaN,NaN,no indicado,False,NaN
3,3,21739,Piso en venta en calle Pedro Jiménez,"San Andrés, Madrid",64.0,2,1.0,True,Calle Pedro Jiménez,Bajo,...,NaN,NaN,NaN,NaN,True,True,NaN,en trámite,False,NaN
4,4,21738,Piso en venta en carretera de Villaverde a Val...,"Los Rosales, Madrid",108.0,2,2.0,True,Carretera de Villaverde a Vallecas,4,...,NaN,True,NaN,NaN,True,NaN,True,en trámite,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
21737,21737,5,Ático en venta en Casco Histórico de Barajas,"Barajas, Madrid",78.0,2,2.0,True,NaN,4,...,NaN,NaN,NaN,NaN,True,NaN,NaN,en trámite,True,True
21738,21738,4,Piso en venta en Urb. Campo de las Naciones - ...,"Barajas, Madrid",96.0,2,2.0,True,Urb. Campo de las Naciones - Corralejos,3,...,NaN,True,NaN,NaN,True,NaN,True,en trámite,True,True
21739,21739,3,Piso en venta en Campo de las Naciones-Corralejos,"Barajas, Madrid",175.0,4,2.0,True,NaN,Bajo,...,NaN,True,True,NaN,True,NaN,NaN,E,True,True
21740,21740,2,"Chalet adosado en venta en calle Burriana, 12","Campo de las Naciones-Corralejos, Madrid",289.0,4,3.0,False,Calle Burriana,NaN,...,True,NaN,True,True,True,NaN,NaN,en trámite,True,True
21741,21741,1,"Piso en venta en calle San Epifanio, 9","Imperial, Madrid",72.0,2,2.0,False,Calle San Epifanio,NaN,...,NaN,True,True,NaN,NaN,NaN,NaN,A,True,True

In [14]:
#yeni durumda veri setini inceleyelim. Sütun sayısı azaldı mı?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21742 entries, 0 to 21741
Data columns (total 38 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Unnamed: 0                    21742 non-null  int64
 1   id                            21742 non-null  int64
 2   title                         21742 non-null  object
 3   subtitle                      21742 non-null  object
 4   sq_mt_built                   21616 non-null  float64
 5   n_rooms                       21742 non-null  int64
 6   n_bathrooms                   21726 non-null  float64
 7   is_exact_address_hidden       21742 non-null  bool
 8   street_name                   15837 non-null  object
 9   floor                         19135 non-null  object
 10  is_floor_under                20572 non-null  object
 11  neighborhood_id               21742 non-null  object
 12  operation                     21742 non-null  object
 13  rent_price                    21742 non-null  int64
 14  is_rent_price_known           21742 non-null  bool
 15  buy_price                     21742 non-null  int64
 16  buy_price_by_area             21742 non-null  int64
 17  is_buy_price_known            21742 non-null  bool
 18  house_type_id                 21351 non-null  object
 19  is_renewal_needed             21742 non-null  bool
 20  is_new_development            20750 non-null  object
 21  built_year                    10000 non-null  float64
 22  has_central_heating           13608 non-null  object
 23  has_individual_heating        13608 non-null  object
 24  has_ac                        11211 non-null  object
 25  has_fitted_wardrobes          13399 non-null  object
 26  has_lift                      19356 non-null  object
 27  is_exterior                   18699 non-null  object
 28  has_garden                    1556 non-null   object
 29  has_pool                      5171 non-null   object
 30  has_terrace                   9548 non-null   object
 31  has_balcony                   3321 non-null   object
 32  has_storage_room              7698 non-null   object
 33  is_accessible                 4074 non-null   object
 34  has_green_zones               4057 non-null   object
 35  energy_certificate            21742 non-null  object
 36  has_parking                   21742 non-null  bool
 37  is_parking_included_in_price  7719 non-null   object
dtypes: bool(5), float64(3), int64(6), object(24)
memory usage: 5.6+ MB